<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="auth-header text-center">
                    <h2 class="text-secondary"><b>Proposition envoyée</b></h2>
                    <p class="f-16 mt-2">
                        La proposition a été envoyée. Vous recevrez une réponse dans les plus brefs délais
                    </p>
                </div>
            </div>
        </div>
        <div class="d-grid"><a href="/" class="btn btn-secondary">Home</a></div>
    </div>
</div>